{% extends 'base.html' %}
{% load static %}

{% block base %}

<div class="right-section">
    <!-- <div class="download-app">
        <p class="card-title">Download Mobile App</p>
        <p class="text">Get control of all your insurance needs anywhere, anytime</p>
        <a href="https://pbweb.onelink.me/4ChW/app" class="playStore playstore-app-click">Google
            Play Store</a>
        <a href="https://pbweb.onelink.me/4ChW/appas" class="iTunes install-now-click">Apple App
            Store</a>
    </div> -->

    <div class="tollfree-no newpolicy">
        <span class="icon"><img src="https://static.pbcdn.in/cdn/images/newpolicy-icon.svg" alt="newpolicy"></span>
        <p class="smalltext">Need help buying a new policy?</p>
        <p class="mediumtext">Call at 1800-208-8787</p>
        <p class="versmalltext">10 AM to 7 PM</p>
    </div>
    <div class="tollfree-no exitingpolicy">
        <span class="icon"><img src="https://static.pbcdn.in/cdn/images/existing-policy.svg" alt="existing policy"></span>
        <p class="smalltext">Need help with existing policy?</p>
        <p class="mediumtext">Call at 1800-258-5970</p>
        <p class="versmalltext">10 AM to 7 PM (use registered number)</p>
    </div>
    <div class="tollfree-no nri">
        <span class="icon"><img src="https://static.pbcdn.in/cdn/images/nrihelpline.svg" alt="nri helpline"></span>
        <p class="smalltext">NRI Helpline</p>
        <p class="mediumtext">Call at +91-124-6656507</p>
        
    </div>
    
    
    <!-- download-app -->

    
    <!-- request-call-back ends here -->

</div>

{% endblock base %}